*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 100%;
    margin: auto;
    
    /* flex -------------------------------------*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header_inicio{
    background: url(recursos/platter-2009590_1920.jpg);
    height: 800px;
    background-attachment: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* flex -------------------------------------*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.menu{
    height: 90px;
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
  
        /* flex -------------*/
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.menu a:hover{
    background-color: white;
    color: black;
}

.logo{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center; 
}

.logo a{
    line-height: 35px;
    font-family: 'Lobster', cursive;
    
}
 header .menu .logo img{
   width: 70px;
   height: 70px;
    margin: 10px;
     vertical-align: top;
}

nav{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.articulos{
    width: 90%;
    margin: auto;
    background: #f7f7f7;
    /*   flex      -------------------------*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.articulo{
 
    letter-spacing: 1px;
    margin:10px;
    padding: 10px;
    
    /*   ---------- flex  ----------------*/
    flex: 1 1 40%;
}

.articulo img{
    width: 100%;
    margin: 0 auto;
}

.texto{
    color: #444;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}

.texto h2{
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.texto p{
    font-family: 'Lora', serif;
    font-size: 20px;
    text-align: justify;
    
}

.footer{
    background-color: rgba(0,0,0,.7);
    height: 170px;
    color: white;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p{
    padding: 10px;
    letter-spacing: 1px;
    font-family: 'Lora', serif;
}

.pie{
    width: 300px;
    margin-bottom: 15px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.pie img{
    width: 40px;
    margin-bottom: 10px;
}



/* ----------------------- menu ----------- */



.header_menu{
    background: url(recursos/blur-1839311_1920.jpg);
    height: 800px;
    background-attachment: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: 16s fondo infinite;
    animation-play-state: running;
    
    /* flex ------------------*/
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.menu_menu{
    width: 90%;
    margin: auto;
    background: #f7f7f7;
    /*   flex      -------------------------*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.contenido_menu{
    width: 100%;
    padding: 15px;
    /* flex ---------------*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    justify-content: space-around;
}

.cont_menu_img {
    width: 40%;
}

.cont_menu_img img {
    width: 100%;
   
}

.cont_menu_txt{
    width: 60%;
    background-color: aqua;
    padding: 25px;
}

@keyframes fondo{
    0% { }
    25% { background: url(recursos/chicken-583761_1920.jpg);
    background-attachment: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    50% {background: url(recursos/sandwich-498379_1920.jpg);
    background-attachment: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
    75%  {background: url(recursos/food-516044_1920.jpg);
    background-attachment: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}
    
}
/*------------------------------------------------- media queries ----------------------------------------------------*/
@media (max-width: 1100px){
    .texto h2{
        font-size: 25px;
    }
    
    .texto p{
        font-size: 15px;
    }
}

@media (max-width: 900px){
    .articulos{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .texto h2{
        font-size: 30px;
    }
    
    .texto p{
        font-size: 20px;
    }
    
}

@media (max-width: 800px){
    .menu{
        height: auto;
        
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    nav{
        width: 100%;
    }
    
    .logo{
        width: auto;
    }
}

@media (max-width: 600px){
    nav a {
        font-size: 20px;
    }
    
    
    .logo a{
        font-size: 20px;
    }
}

